<div class="aside-message">Feel free to sign up as a new user and create recipes if you are looking at buffetcar-5.herokuapp.com</div>

<%= render 'shared/page_title', title: 'Sign up for BuffetCar' %>

<%= render 'form' %>
