<%= render 'shared/page_title', title: 'Edit Recipe' %>
<%= render 'form' %>

<div class="col-sm-4 col-sm-offset-4">
  <p class="text-center">
    [ <%= link_to 'Return to Recipes List', recipes_path, class: 'custom-link' %> ]
  </p>
</div>
