<%= render 'shared/page_title', title: 'Chef Chat' %>

<div class="row chat-container">
  <div class="col-sm-8 center-block">
    <div class="messages" id="messages">
    Hello
    </div>
  </div>
  <div class="message-container">
    Hello again
  </div>
</div>
