$navbar-default-bg: #1A237E;  // Indigo 900
$footer-bg:         #5C6BC0;  // Indigo 400
$link-colour:       #303F9F;  // Indigo 700

@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  margin-top: 2em;
  padding: 0.5em 1em;
  background: $footer-bg;
  color: #fff;
  position: relative;
  overflow: auto;

  small {
    font-size: 95%;
    float: left;
  }

  a {
    color: #fff;
  }

  nav {
    color: #fff;

    ul {
      float: right;
      list-style: none;

      li {
        float: left;
        margin-left: 15px;
      }
    }
  }
}

#jumbo-home {
  background: asset-url('white-train.png');
  background-size: cover;

  h1, h1 small {
    color: $navbar-default-bg;
  }

  a {
    margin-top: 2em;
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: #C5CAE9;   // Indigo 100
  }
}

.description {
  margin-top: 0;
}

.well a {
  color: $link-colour;
}
