$button-colour:             #3949AB;  // Indigo 600
$link-colour:               #303F9F;  // Indigo 700
$navbar-inverse-bg:         #283593;  // Indigo 800
$footer-bg:                 $navbar-inverse-bg;
$footer-border:             #1A237E;  // Indigo 900

$well-bg:                   #E8EAF6;  // Indigo 50
$navbar-inverse-link-color: $well-bg;

@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  margin-top: 2em;
  padding: 0.5em 1em 0 1em;
  background: $footer-bg;
  border-top: 1px solid $footer-border;
  color: #eee;
  position: relative;
  overflow: auto;

  small {
    font-size: 95%;
    float: left;
  }

  a {
    color: #fff;

    &:hover {
      color: #ffe;
    }
  }

  nav {
    color: #fff;

    ul {
      float: right;
      list-style: none;

      li {
        float: left;
        margin-left: 15px;
      }
    }
  }
}

.btn-custom {
  background-color: $button-colour;
  border-color: $navbar-inverse-bg;
}

#jumbo-home {
  background: asset-url('white-train.png');
  background-size: cover;

  h1, h1 small {
    color: $navbar-inverse-bg;
  }

  a {
    margin-top: 2em;
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: #C5CAE9;   // Indigo 100
  }
}

.description {
  margin-top: 0;
}

.well a, a.custom-link, nav .fa {
  color: $link-colour;
}

.chef-info {
  margin-top: 10px;
}

.recipe-actions, .chef-actions {
  padding-top: 5px;

  a {
    color: #fff;
  }
}

.list-summary {
  min-height: 140px;
}

.recipe-list {
  margin-top: 2em;
}

.biography {
  min-height: 170px;
}

.aside-message {
  background: #33691E;     // Light Green 900
  margin: 1em;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 90%;
}

span.ingredient.badge a {
  color: white;
}

.ing-checkbox input {
  width: auto !important;
  margin-top: 4px !important;
}

#messages {
  border: 1px solid #eee;
  height: 55vh;   // 55% of vertical height
  padding: 5px;
  position: relative;
  overflow: auto;
}

.chef-message {
  width: 95%;
  padding: 0 0 5px 0;
  margin-bottom: 5px;

  img {
    float: left;
    margin-right: 5px;
  }
}

.message-container {
  margin-top: 1.5em;

  .form-control {
    float: left;
    width: 85%;
  }

  .btn {
    float: right;
    width: 12%;
    height: 50px;
  }
}

